@import "variables";

.card {
  border-radius: 4px;
  overflow: hidden;
  background: #ffffff;
  border: 1px solid #ddd;
  padding-bottom: 5px;
}
.img {
  width: 100%;
}
.location {
  font-size: 15px;
  text-align: center;
  color: $colorLocationCardUser;
}
.title {
  font-size: 20px;
  text-align: center;
  color: $colorTitleCardUser;
}
