<div class="discover-card">
  <div class="card-container">
    <div
      *ngIf="
        ($listUser | async) && $index.value <= $listUser.value.length;
        else tplNoMore
      "
      class="box-shadow"
    >
      <div
        class="card user-above"
        [@cardAnimator]="animationState"
        (@cardAnimator.done)="resetAnimationState($event)"
        (swipeleft)='like()' 
        (swiperight)='skip()'
      >
        <app-card-discover-user
          [userInformation]="$userAbove"
          [$fullProfile]="$fullProfileAbove"
        ></app-card-discover-user>
      </div>

      <div class="card user-below">
        <app-card-discover-user
          [$fullProfile]="$fullProfileBelow"
          [userInformation]="$userBelow"
        ></app-card-discover-user>
      </div>
    </div>
  </div>
  <div
    *ngIf="($listUser | async) && $index.value <= $listUser.value.length"
    class="button-container"
  >
    <button
      [disabled]="$waitFetchFullProfile | async"
      class="btn btn-like"
      (click)="like()"
    >
      <i class="fas fa-heart"></i>
    </button>
    <button
      [disabled]="$waitFetchFullProfile | async"
      class="btn btn-skip"
      (click)="skip()"
    >
      <i class="fas fa-times"></i>
    </button>
  </div>
</div>

<ng-template #tplNoMore>
  <h2 style="text-align: center;">
    Oops! Nobody to show
  </h2>
</ng-template>
